version: 2.1
workflows:
  test_app:
    jobs:
      - build
      - lint:
          requires:
            - build
      - test_coordinator:
          requires:
            - build
      - test_contracts:
          requires:
            - build
      - test_accounts:
          requires:
            - build
      - test_tree:
          requires:
            - build
      - test_babyjubjub:
          requires:
            - build
      - test_dataset:
          requires:
            - build
      - test_client:
          requires:
            - build
      - test_database:
          requires:
            - build
jobs:
  build:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Install Yarn
          command: curl -o- -L https://yarnpkg.com/install.sh | bash
      - run:
          name: Install
          command: yarn
      - run:
          name: Build Contract
          command: yarn build:contract
      - run:
          name: Build TS
          command: yarn build:ts:serial
      - persist_to_workspace:
          root: ~/
          paths: project
  lint:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Lint
          command: yarn lint .
  test_coordinator:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Coordinator Tests
          command: |
            docker-compose -f dockerfiles/docker-compose.yml build contracts
            yarn test --scope=@zkopru/coordinator
  test_contracts:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Setup
          command: |
            docker pull jchancehud/zkopru:circuits
            docker tag jchancehud/zkopru:circuits zkoprunet/circuits:dev
            cd packages/circuits
            yarn setup
            yarn build-keys
            yarn postbuild-keys
            cd ../dataset
            yarn load-keys
      - run:
          name: Contract Tests
          command: yarn test --scope=@zkopru/contracts
  test_dataset:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Setup
          command: |
            docker pull jchancehud/zkopru:circuits
            docker tag jchancehud/zkopru:circuits zkoprunet/circuits:dev
            cd packages/dataset
            yarn load-keys
      - run:
          name: Dataset Tests
          command: yarn test --scope=@zkopru/dataset
  test_accounts:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Account Tests
          command: yarn test --scope=@zkopru/account
  # test_circuits:
  #   machine:
  #     image: ubuntu-2004:202010-01
  #   steps:
  #     - attach_workspace:
  #       at: ~/
  #     - run:
  #         name: Setup
  #         command: |
  #           docker pull jchancehud/zkopru:circuits
  #           docker tag jchancehud/zkopru:circuits zkoprunet/circuits:dev
  #           cd packages/circuits
  #           yarn setup
  #           yarn build-keys
  #     - run:
  #         name: Circuit Tests
  #         command: yarn test --scope=@zkopru/circuits
  test_tree:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Tree Tests
          command: yarn test --scope=@zkopru/tree
  test_client:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Client Tests
          command: yarn test --scope=@zkopru/client
  test_database:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Database Tests
          command: yarn test --scope=@zkopru/database
  test_babyjubjub:
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: BabyJubJub Tests
          command: yarn test --scope=@zkopru/babyjubjub
